main {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
  margin-left: 225px;
  padding-top: 80px;

section {
  background: $bgc;
  margin: 5px, 5px, 5px, 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  h2 {
    padding-top: 15px;
  }
}

  .container {
    margin-top: 5px;
    background-color: $main-site-color;
    padding-top: 5px;

    .dateContainer {
      display: flex;
      align-items: center;
      max-width: 460px;
      margin: 40px auto;

      .smallDateContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        height: 40px;
        margin: 50px auto;
        border: 1px solid $first-border-color;
        border-radius: 5px;
      }
    }

    .wrapper{
      max-width: 1000px;
      margin: auto;

      .dataContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 50px auto;

        .data {
          display: flex;
          justify-content: space-between;
          width: 46%;
          border-bottom: 1px solid $first-border-color;

          p {
            padding: 10px;

            &:first-of-type {
              font-weight: bold;
            }

            &:last-of-type {
              color: $number-color;
            }
          }
        }
      }

      h3{
        margin: 55px 0;
      }
    }
  }
}

@media (max-width: 600px){
  main{

    .container {
      .dateContainer {
        flex-direction: column;
        width: 80%;

        .smallDateContainer{
          margin: 10px 0 10px;
          flex-direction: column;
          height: 100px;
          width: 80%;

          input {
            width: 50%;
            border: 1px solid $first-border-color;
          }

          .verticalLine {
            display: none;
          }
        }
      }

      .wrapper{
        width: 80%;

        .dataContainer {
          flex-direction: column;
          align-items: center;
          width: 80%;
          margin: 25px auto;

          .data {
            width: 90%;
          }
        }

        canvas {
          width: 80%;
          margin-bottom: 25px;
        }
      }
    }
  }
}


@media (max-width: 758px) {
  main {
    margin-left: 0;
    width: 100%;

    .container {
      padding: 20px;
    }
  }
}
