.sidebar{
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: $sidebar-bgc;
  color: #fff;
  z-index: 5;

  .sidebar_header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hand {
      font-family: $hand-writing;
      font-size: 30px;
      color: $main-site-color;
      padding-left: 10px;
    }

    i {
      font-size: 24px;
      color: $additional-color;
      padding: 0 15px 5px 0;
      transition: .2s linear;

      &:hover {
        color: white;
      }
    }
  }

  ul {
    list-style: none;

    li {
      transition: .2s linear;

      a {
        display: flex;
        align-items: center;
        transition: .2s linear;
        padding: 15px 0 15px 20px;
        border-left: 5px solid transparent;
        width: 100%;

        i {
          margin-right: 15px;
          transition: .2s linear;
        }
      }

      &:hover i {
        color: white;
      }

      &:hover a {
        color: white;
      }

      &:hover {
        background-color: #282828;
        border-color: #f58220;
      }
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: $list-text-color;
    margin-bottom: 30px;
  }

  .manager{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    h2 {
      width: 100%;
      padding-left: 35px;
      margin-bottom: 20px;
    }

    img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $main-site-color;
    }

    .circleManager{
      top: 25px;
      left: 34%;
    }

    h3 {
      margin-left: 10px;
      font-size: 15px;
    }
  }
}


.hamburger-btn {
  display: inline-block;
  width: 30px;
  margin: 15px 0;
  cursor: pointer;

  div {
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 5px;
  }
}

@media (max-width: 760px){
  .sidebar {
    height: 60px;
    width: 100%;
    overflow: hidden;

    .sidebar_header {
      .hand{
        display: none;
      }

      i {
        padding: 20px 0 0 15px;
      }
    }

    ul li {
      padding-left: 10px;
    }

    .manager {
      display: none;
    }
  }
}

@media (max-width: 600px) {

    .sidebar_header i {
      padding: 12px 0 15px 10px;
    }
}
