/* Colors */
$font-color: #a6a6a6;
$font-color-hover: #fff;
$back-color: #191919;
$back-color-hover: #282828;
$main-back-color: #f5f5f2;
$page-color: #fff;
$top-bar-back: #fff;
$active-color: #f58220;

/* Font sizes */
$font-size: 16px;

/* Fonts */
$brand-font: "Gochi Hand", Helvetica, Arial;
$paragraph-font: "Roboto", Helvetica, Arial;