/* Colors */
$font-color: #a6a6a6;
$font-color-hover: #fff;
$back-color: #191919;
$back-color-hover: #282828;
$main-back-color: #f5f5f2;
$page-color: #fff;
$top-bar-back: #fff;
$active-color: #f58220;
$btn-back-color: #f58220;
$btn-font-color: #fff;
$manager-header-color: #3498db;
$topbar-login-color: #3498db;
$online-color: #2ecc71;
$offline-color: #f58220;

/* Font sizes */
$font-size: 16px;
$fz-20: 20px;
$fz-16: 16px;
$fz-14: 14px;

/* Fonts */
$brand-font: "Gochi Hand", Helvetica, Arial;
$paragraph-font: "Roboto", Helvetica, Arial;
$hand-writing: 'Gochi Hand', cursive;
