/* Colors */
$paragraph-color: #adadad;
$number-color: #191919;
$brand-main-color: #ff0000;
$bgc: #f5f5f2;
$topbar-i: #5c5c5c;
$sidebar-bgc: #191919;
$first-border-color: #e3e3e3;
$main-site-color: #fff;
$list-text-color: #5c5c5c;
$header-color: #a7a7a7;
$additional-color: #999999;
$first-box-bgc-color: #80bfca;
$second-box-bgc-color: #f58220;
$third-box-bgc-color: #59b66d;
$box-bgc-color: #f3f3f1;
$btn-color: #f58220;
$btn-hover-color: #ffa200;

/* Font sizes */
$paragraph-font-size: 16px;
$fz-20: 20px;
$fz-16: 16px;
$fz-14: 14px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: 'Roboto', sans-serif;
$hand-writing: 'Gochi Hand', cursive;