@import "variables";
@import "normalize";
@import "layout";
@import "glyphter";

/* Components */

@import "components/global";
@import "components/btn";

/* Sections */
@import "sections/topBar";
@import "sections/sidebar";
@import "sections/main";
@import "sections/links";

/* actives */
@import "activeSidebar";
/* SIDEBAR */



.sidebar a span {
    margin: 0 10px;
}
/* TOP BAR */

.top-bar {
    width: 100%;
    height: 60px;
    position: fixed;
    background: $top-bar-back;
    z-index: 0;
}


/* SIDEBAR */

  .sidebar li a {
    display: block;
    color: #a6a6a6;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    border-left: 3px solid transparent;
  }

  .sidebar li a:hover {
    background: #282828;
    color: #fff;
    border-left: 3px solid #f58220;
  }

  .sidebar a span {
    margin: 0 10px;
  }

  .activeSidebar {
    width: 200px;
    height: 100vh;
  }

  .activeSidebar .sidebar_header .hand {
    display: inline-block;
  }

  .activeSidebar .sidebar_header i {
    padding: 0 15px 5px 0;
  }

  .activeSidebar .manager {
    display: flex;
  }

  /* TOP BAR */
  .top-bar {
    width: 100%;
    height: 60px;
    position: fixed;
    background: #fff;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #a6a6a6;
  }

  .top-bar button {
    background: none;
    border: none;
    padding: 0 17px;
    border-left: 1px solid #a6a6a6;
    position: relative;
  }

  .top-bar button .circle {
    top: 15px;
    left: 25px;
  }

  .top-bar button .special {
    color: #3498db;
  }

  /* MAIN */

  .btn {
    display: block;
    background-color: #f58220;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    font-family: "Roboto", Helvetica, Arial;
    transition: .2s linear;
  }

  .btn i {
    color: #fff;
  }

  .btn:hover {
    cursor: pointer;
  }

  .addNew {
    width: 120px;
    margin: 25px 0;
    margin: 25px auto;
  }

  h2 {
    color: #a6a6a6;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Roboto", Helvetica, Arial;
    font-weight: normal;
    padding-left: 15px;
  }

  h3 {
    color: #a6a6a6;
    font-family: "Roboto", Helvetica, Arial;
    font-size: 18px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .circle {
    position: absolute;
    top: 27%;
    left: 52px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }

  .largeCircle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }

  /*
    .firstCircleColor {
      background-color: $first-box-bgc-color;
    } */
  .secondCircleColor {
    background-color: #f58220;
  }

  .thirdCircleColor {
    background-color: #2ecc71;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #a6a6a6;
    margin: 20px 0;
  }

  /*

    .verticalLine {
      height: 80%;
      border-left: 1px solid $first-border-color;
    }

    */
  input {
    border: none;
    font-family: "Roboto", Helvetica, Arial;
    color: #a6a6a6;
    width: 40%;
  }

  /* MANAGER */
  .manager__content {
    display: flex;
    padding: 20px;
    align-items: center;
    position: relative;
  }

  .manager__content img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }

  .manager__content h3 {
    color: #3498db;
    font-weight: lighter;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-top: 1px solid #3498db;
  }

  .links .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #3498db;
    transition: all .2s linear;
    padding: 10px;
  }

  .links .link p {
    width: 40%;
  }

  .links .link .linkContainer {
    width: 50%;
    text-align: left;
  }

  .links .link .linkContainer a {
    text-decoration: none;
    color: #80bfca;
  }

  .links .link .iContainer {
    width: 10%;
    opacity: 0;
    transition: all .2s linear;
  }

  .links .link .iContainer i {
    margin-left: 15px;
    transition: all .2s linear;
  }

  .links .link .iContainer i:hover {
    color: #80bfca;
  }

  .links .link:hover {
    background-color: #e5eaea;
  }

  .links .link:hover .iContainer {
    opacity: 1;
  }
